.runtimeExperiment {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  overflow: auto;
}

.experimentContainer{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 1s;
  &.left{
    right: 42%;
  }
}

.qrContainer{
  position: fixed;
  top: 0;
  left: 100%;
  right: -42%;
  bottom: 0;
  transition: 1s;
  &.right{
    left: 58%;
    right: 0;
  }
}

.header {
  margin: 10px 10px;
  font-weight: bold;
  font-size: 1.4em;
}

.qrcode {
  margin: 10px 0;
}