
.resourceListContainer{
  max-height: 10em;
  // width: 30vw;
  overflow: auto;
  background-color: hsl(34,40%,98%);
  border: 1px solid  hsl(34, 77%, 79%);
  padding: 0.2em;
  border-radius: 0.3em;
}

.resourceList{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  .resourceItem:nth-child(1n) {
    background-color: hsl(34,40%,90%)
  }
  .resourceItem:nth-child(2n) {
    background-color: hsl(34,40%,95%)
  }
  .resourceItem:hover {
    color: white;
    background-color: hsl(34,40%,75%)
  }
  .resourceItem {
    padding:  0.25em 0.5em;
    margin: 0.25em;
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
      padding: 0.1em;
      margin: 0;
    }
    .name {
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    };
    .description {
      font-size: 9pt;
      font-style: italic;
    }
    .delete:hover {
      background-color: hsl(34,70%,42%);
      color: white;
    }
    &.selected {
      background-color: hsl(34, 100%, 69%);
      color: white;
    }
  }
}


.buttons {
  display: flex;
  flex-direction: row;
  background-color: hsl(34,10%,90%);
  padding: 0.25em;
  justify-content: space-between;
  .button {
    color: white;
    margin: 0.2em;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: hsl(34,10%,75%);
    box-shadow:  2px 2px 5px  hsl(34,10%,65%);
    &:hover {
      background-color: hsl(34,10%,65%);
    }
  }
}