@import "../../shared/components/variables.scss";

.dataTableSparkgraph {
  padding: 6px 6px 1.5px 6px; // bottom padding is handled in svg height margin
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    font-size: 13px;
    font-weight: normal;
    color: $textBlack;
  }

  svg {
    margin-top: -6px;

    polyline {
      stroke: $timeSeriesStroke;
      stroke-width: 1.5px;
      fill: none;
    }

    polygon {
      stroke: none;
      fill: $timeSeriesFill;
    }

    circle {
      stroke: $timeSeriesStroke;
      fill: $timeSeriesLeaderFill;
    }
  }
}