@import "../../shared/components/variables.scss";

.dataTableSparkgraph {
  polyline {
    stroke: $timeSeriesStroke;
    stroke-width: 1.5px;
    fill: none;
  }

  polygon {
    stroke: none;
    fill: $timeSeriesFill;
  }

  circle {
    stroke: $timeSeriesStroke;
    fill: $timeSeriesLeaderFill;
  }
}
