@import "variables";

$headerBorder: #fff;

.dataTable {
  position: relative;

  .title {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.5px;
    padding: 10px;
  }

  .table {
    width: 100%;
    text-align: center;
    table-layout: fixed;

    td, th {
      height: 54px;
      border-style: solid;
      border-width: 2px;
    }
    td {
      font-size: 20px;
      font-weight: bold;
      border-color: #efefef;
      color: $textBlack;
      &:last-child {
        border-right-color: $headerBorder;
      }
    }
    th {
      font-size: 15px;
      font-weight: normal;
      color: $textBlack;
      background-color: $ccTealLight3;
      border-color: $headerBorder;
      text-align: center;
    }
    tr:last-child td {
      border-bottom-color: $headerBorder;
    }
    .readOnly {
      font-size: 15px;
      font-weight: normal;
      color: $textBlack;
      border-color: $headerBorder;
      background-color: $ccTealLight4;
    }
    .sensorField {
      color: $ccOrange;
      input:focus {
        border: solid 2px $ccOrange;
      }
    }
    .function {
      color: $ccTealDark2;
      input {
        background-color: $ccOrangeLight4;
      }
    }
    .complete > .readOnly {
      background-color: $ccTealLight3;
    }
    .grayedOut {
      th {
        background-color: $ccGray;
      }
      .readOnly {
        background-color: $ccGray;
      }
    }
    input {
      border: none;
      width: 100%;
      height: 100%;
      text-align: center;
      &:focus {
        outline: none;
        border: solid 2px $ccTeal;
      }
    }
    input[disabled] {
      opacity: 1;
    }
    .refreshSensorReadingColumn {
      width: 54px;
    }
    .refreshSensorReading {
      height: 40px;
      width: 40px;
      border-radius: 20px;
      border: 4px solid #fff;
      background-color: $ccOrangeLight3;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      &.active {
        background-color: $ccOrange;
        &.refresh {
          background-color: $ccOrangeLight1;
        }
        &:hover {
          cursor: pointer;
        }
      }
      svg {
        fill: #fff;
      }
    }
  }

  .editModeText {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 15px;
    svg {
      fill: #198ec4;
      margin-right: 10px;
    }
  }

  .topBar {
    min-height: 30px;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    flex-direction: row;

    .saveButton {
      margin-right: 10px;
      margin-top: -2px;
      border: 1px solid #0b809b;
      background-color: #fff;
      color: #0b809b;
      border-radius: 5px;
      padding: 3px 10px;
      text-transform: uppercase;
      outline: none;
    }
  }
}
