@import url("https://fonts.googleapis.com/css?family=Londrina+Solid&display=swap");
@import "variables";

.experiment {
  font-family: "Londrina Solid", cursive, Arial, sans-serif;
  font-size: $fontSize;
  color: $fontColor;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $headerHeight;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 2px solid #000;
}

.headerBackIcon {
  width: $headerIconSize;
  height: $headerIconSize;
  margin: $headerIconMargin 0 0 $headerIconMargin;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #afafaf;
  color: #fff;
  font-size: 28px;
}

.headerInitialsIcon {
  width: $headerIconSize;
  height: $headerIconSize;
  margin: $headerIconMargin 0 0 $headerIconMargin;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
  color: #646464;
  font-size: 26px;
}

.headerTitle {
  margin: $headerIconMargin $headerIconMargin 0 $headerIconMargin;
  font-size: 18px;
  font-weight: bold;
  color: #afafaf;
}

.workspace {
  position: absolute;
  top: $headerHeight;
  right: 0;
  left: 0;
  overflow: auto;
  padding: 20px;
}

.sectionButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  background-color: #efefef;
}
