@import "variables";

.experiment {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $textBlack;
}

.sectionButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 78px;
  background-color: #b7e2ec;
}
