@import "variables";

.menuIcon {
  position: relative;
  width: 24px;
  height: 24px;
  &:hover {
    cursor: pointer;
  }
}

.menu {
  position: absolute;
  top: 30px;
  right: 0;
  border: 1px solid $darkGray;
  padding: 5px;
  font-size: 18px;
  background-color: #fff;
  z-index: 10;
}

.menuItem {
  display: flex;
  align-items: center;
  margin: 10px;
  color: $textBlack;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
  }
  svg {
    margin-right: 10px;
  }

  .iconPlaceholder {
    width: 24px;
    margin-right: 10px;
  }
}
