@import "variables";

.metadata {
  padding: $inputPadding;

  .main {
    display: flex;
    align-items: center;
  }

  .text {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.56px;
    color: $ccTealDark1;
    margin-left: 10px;
  }

  hr {
    margin-top: 25px;
    margin-bottom: 0;
    border: solid 0.5px $darkGray;
  }
}
