@import "variables";

.sectionButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid 3px $ccTeal;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      fill: $ccTeal;
    }
    &:hover {
      background-color: $ccTealLight4;
    }
    &.active {
      background-color: $ccTeal;
      svg {
        fill: #fff;
      }
    }
  }
}
