$headerTopPadding: 40px;

$headerHeight: 60px + $headerTopPadding;
$headerIconSize: 40px;
$headerIconMargin: calc(($headerHeight - $headerIconSize) / 2);
$inputPadding: 20px;

$fontFamily: Lato, Arial, sans-serif;
$fontSize: 15px;
$ccTeal: #6fc6da;
$ccTealDark1: #2ba5c1;
$ccTealDark2: #0b809b;
$ccTealLight1: #93d5e4;
$ccTealLight2: #b7e2ec;
$ccTealLight3: #c5e8f0;
$ccTealLight4: #e2f4f8;
$ccOrange: #ea6d2f;
$ccOrangeLight1: #f09263;
$ccOrangeLight3: #fadacb;
$ccOrangeLight4: #fdf5f0;
$ccGray: #f1f1f1;
$ccGrayLight1: #a1a1a1;
$darkGray: #646464;
$textBlack: #444444;

$sensorGreen: #00a80a;
$sensorGreenLight1: #40be48;
$sensorGreenLight2: #7fd384;
$streamBlue: #0f73b8;
$streamBlueLight1: #4b96ca;

$timeSeriesStroke: #444444;
$timeSeriesFill: #99FF8A;
$timeSeriesLeaderFill: #00A80A;