$button-size: 60px;

.canvas {
  position: relative;
  display: flex;
  justify-content: center;
}

.cameraButton {
  position: absolute;
  bottom: $button-size / 3;
  width: $button-size;
  height: $button-size;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: $button-size / 2;
}

.placeholder {
  background-color: #000;
}