@import "../../shared/components/variables";

.header {
  height: $headerHeight;
  padding-top: $headerTopPadding;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: $ccTealDark2;


  .headerTitle {
    margin: 0 10px 0 10px;
    font-size: 18px;
    color: #fff;
    flex-grow: 1;

    .name {
      display: block;
      color: white;
      border: 1px solid #D1D1D1;
      border-radius: 4px;
      padding: 2px 4px;
      width: 100%;

      input{
        padding: 0;
        width: 100%;
        font-size: 18px;
        background-color: $ccTealDark2;
        color: white;
        border: none;
        outline: none;
        &:focus{
          outline: none;
        }
      }
    }
  }
}

.headerBackIcon {
  margin: 5px 15px 0 15px;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
  svg {
    fill: #fff;
  }
}


.headerMenu {
  margin-right: 15px;
  svg {
    fill: #fff;
  }
  div div{
    svg{
      fill: $ccTealDark2;
    }
  }
}

.workspace {
  position: absolute;
  top: $headerHeight;
  right: 0;
  left: 0;
  overflow: auto;
  &.embeddedPreview {
    position: relative;
    top: 0px;
  }
}
