@import "../../shared/components/variables";

.header {
  height: $headerHeight;
  padding-top: $headerTopPadding;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: $ccTealDark2;
  .editing{
    display: flex;
    input{
      display: flex;
      min-width: 400px;
      background-color: $ccTealDark2;
      color: white;
      border: 1px solid #fff;
      border-radius: 4px;
      padding-left: 4px;
      outline: none;
      &:focus{
        outline: none;
      }
    }
  }
}

.headerBackIcon {
  margin: 5px 15px 0 15px;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
  svg {
    fill: #fff;
  }
}

.headerTitle {
  margin: 0 10px 0 10px;
  font-size: 18px;
  color: #fff;
  flex-grow: 1;
}

.headerMenu {
  margin-right: 15px;
  svg {
    fill: #fff;
  }
}

.workspace {
  position: absolute;
  top: $headerHeight;
  right: 0;
  left: 0;
  overflow: auto;
  &.embeddedPreview {
    position: relative;
    top: 0px;
  }
}
