@import "../../shared/components/variables";

.header {
  height: $headerHeight;
  padding-top: $headerTopPadding;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: $ccTealDark2;
  .editing{
    display: flex;
    input{
      display: flex;
      max-width: 80%;
      background-color: $ccTealDark2;
      color: white;
      border: 1px solid #fff;
      border-radius: 4px;
      padding-left: 4px;
      outline: none;
      &:focus{
        outline: none;
      }
    }
    .stopEditing{
      display: flex;
      width: 28px;
      height: 28px;
      margin-left: 5px;
      margin-top: 2px;
      padding: 2px;
      padding-left: 5px;
      font-weight: bold;
      font-size: 18px;
      border-radius: 20px;
      background-color: $ccTealDark1;
      border-radius: 14px;
      color: white;
      text-align: center;
      &:hover{
        background-color: $ccTeal;
      }
    }
  }
}

.headerBackIcon {
  margin: 5px 15px 0 15px;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
  svg {
    fill: #fff;
  }
}

.headerTitle {
  margin: 0 10px 0 10px;
  font-size: 18px;
  color: #fff;
  flex-grow: 1;
}

.headerMenu {
  margin-right: 15px;
  svg {
    fill: #fff;
  }
}

.workspace {
  position: absolute;
  top: $headerHeight;
  right: 0;
  left: 0;
  overflow: auto;
  &.embeddedPreview {
    position: relative;
    top: 0px;
  }
}
