@import "../../shared/components/variables.scss";

.runPicker {
  padding: 0 20px 20px 20px;

  .header {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $darkGray;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  hr {
    margin: 0;
    border: solid 1px #afafaf;
  }

  .runContainer{
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    background-color: #fff;
    margin-bottom: 10px;
    border: solid 2px $ccTealLight2;

    .run {
      padding: 10px;
      background-color: $ccTealLight2;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.45px;
      color: $textBlack;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      &:hover {
        cursor: pointer;
      }

      .text {
        margin-left: 10px;
        flex-grow: 2;
      }

      .date {
        font-weight: 300;
      }

      svg {
        fill: #fff;
      }

    }
    .options{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 48px;
      width: 100%;
      background-color: #fff;
      .expandToggle{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        font-stretch: expanded;
        &:hover{
          background-color: $ccTealLight2;
        }
        &:active{
          background-color: $ccTealLight1;
        }
        .icon{
          padding: 10px;
          padding-top: 5px;
          padding-bottom: 0px;

          font-size: 14pt;
          color:$ccTealDark2;
          transform: scale(1.5, -0.8);

          &.expanded{
            transform: scale(1.5, 0.8);
            padding-bottom: 10px;
          }
        }
      }
      .centerOffset{
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: row;

        .uploadButton{
          display: flex;
          align-items: center;
          text-align: center;
          margin: auto;
          margin-right: 0;
          width: 114px;
          height: 32px;
          border-radius: 5px;
          border: solid 1px $ccTealDark2;
          background-color: #fff;
          &:hover{
            background-color: $ccTealLight2;
          }
          &:active{
            background-color: $ccTealLight1;
          }

          .icon{
            display: inline-flex;
            padding-right: 10px;
            padding-left: 4px;
            svg{
              fill: $ccTealDark2;
            }
          }
          .text{
            display: inline-flex;
            height: 20px;
            width: 70px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: $ccTealDark2;
          }
        }
      }
      .menuContainer{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
        padding-left: 3px;
        padding-top: 3px;
        &:hover{
          background-color: $ccTealLight2;
        }
        &:active{
          background-color: $ccTealLight1;
        }
        svg{

          fill: $ccTealDark2;
        }
      }

    }
  }

  button {
    color: #000;
  }
}
