@import "../../shared/components/variables.scss";

.runPicker {
  padding: 0 20px 20px 20px;

  .header {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $darkGray;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  hr {
    margin: 0;
    border: solid 1px #afafaf;
  }

  .run {
    padding: 10px;
    margin-bottom: 10px;
    background-color: $ccTealLight2;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.45px;
    color: $textBlack;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);

    &:hover {
      cursor: pointer;
    }

    .text {
      margin-left: 10px;
      flex-grow: 2;
    }

    .date {
      font-weight: 300;
    }

    svg {
      fill: #fff;
    }
  }

  button {
    color: #000;
  }
}
