@import "../../shared/components/variables";

$sensorRed: #d00000;
$sensorGreen: #00a80a;

.sensorValue {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  text-align: center;
}

.connected {
  border-left: 2px solid #bfe9c2;
}

.disconnected {
  border-left: 2px solid #f3bfbf;
}

.sensorInnerValue {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  font-size: 22px;
}

.connectedValue,
.disconnectedValue {
  font-size: 25px;
  letter-spacing: 0.69px;
}

.connectedValue {
  color: $sensorGreen;
}

.disconnectedValue {
  color: $sensorRed;
}

.label {
  font-size: 17px;
  color: $textBlack;
  margin-top: 5px;
}
