.sensor {
  width: 100%;
}

.connection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px 10px;
}

.connectionLabel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow: 1; /* to allow the label to take up as much room as possible */
}

.error {
  color: #f57c00;
}

@keyframes pulsate {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

.statusIcon {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 10px;

  & > div {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .connectedIcon {
    background: url("../icons/sensor_connected.svg");
  }
  .connectedIconHi {
    background: url("../icons/sensor_connected-hi.svg");
    animation: pulsate 2s infinite;
  }

  .disconnectedIcon {
    background: url("../icons/sensor_disconnected.svg");
  }
  .disconnectedIconHi {
    background: url("../icons/sensor_disconnected-hi.svg");
    animation: pulsate 2s infinite;
  }

  .errorIcon {
    background: url("../icons/sensor-default.svg");
  }
  .errorIconHi {
    background: url("../icons/sensor-default.svg");
  }
}

.connectedValues,
.disconnectedValues {
  height: 72px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.disconnectedValues :first-child,
.connectedValues :first-child {
  border-left: none;
}

.connectedValues {
}
.disconnectedValues {
}

.saveButton,
.saveButton:focus {
  margin-right: 10px;
  margin-top: -2px;
  border: 1px solid #0b809b;
  background-color: #fff;
  color: #0b809b;
  border-radius: 5px;
  padding: 3px 10px;
  text-transform: uppercase;
  outline: none;
}