@import "../../shared/components/variables.scss";

$dialogMargin: 10px;

.uploader {
  box-sizing: content-box;
}

.background {
  background-color: #fff;
  opacity: 1;
  position: absolute;
  top: $headerHeight;
  right: 0;
  bottom: 0;
  left: 0;
}
.contents {
  position: relative;
  padding: 0px;
  height: 95%;
}

.run{
  margin: 0px 20px 0px 20px;
  padding: 15px;
  background-color: $ccTealLight2;
  font-size: 17px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.45px;
  color: $textBlack;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.dialog {
  position: absolute;
  top: $headerHeight + $dialogMargin;
  right: 0;
  left: 0;
  bottom: 0;
  border: 0;
  background-color: #fff;
}

.header {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  color: $textBlack;
  .okClose {
    float: right;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $ccTealDark2;
  }
}
.initials{
  margin: 2px;
  margin-right: 15px;
  border-radius: 5px;
  color: #fff;
  background-color: $sensorGreenLight1;
}
.floatRight {
  float: right;
}

.instructions {
  margin: 10px 20px;
  font-size: 15px;
  line-height: 18px;
  color: $textBlack;
}

ol{
  li{
    padding: 5px;
  }
}

.scanner {
  position: absolute;
  margin: 0;
  bottom: 0px;
  top: 250px;
  left: 0px;
  right: 0px;
  text-align: center;
  background-color: #efefef;

  .scanGuide {
    position: absolute;
    width: 100%;
    height: 90%;
    max-height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../icons/scan_overlay.svg");
    background-position: center top;
    pointer-events: none;
  }
  .camera{
    width: 100%;
    height: 100%;
  }
}

.modePicker {
  .modeChoice {
    margin: 10px 20px;
    display: inline-block;
  }
}

.codeEntry {
  margin: 20px;

  input {
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 2em;
    width: 100%;
  }

  button {
    display: block;
    margin-top: 10px;
    width: 100%;
  }
}